body {
    background-image: url(img/fundoclaro.jpeg);
    background-size: cover;
    color: white;
    margin: 0;
    font-family: monospace;
}

h1,
h2 {
    margin: 0;
}

h1 {
    font-family: "Special Elite", cursive;
}

a {
    font-size: 100%;
    color: rgb(255, 253, 253);
    text-decoration: none;
    font-weight: bold;
    margin: 2em;
}

h2 {
    font-family: "Aldrich", sans-serif;
}

h1+h2 {
    font-size: 100%;
    margin-top: 0.5em;
    color: silver;
}


/* --- Cabeçalho --- */

#login {
    display: flex;
    position: fixed;
    color: #000000;
    font-size: 20px;
    right: 10px;
    top: 10px;
}

#cabecalho {
    box-shadow: 2px 10px 10px rgba(0, 0, 0, .25);
    padding-top: 0;
    text-align: center;
}

#cabecalho ul {
    background-color: rgba(77, 51, 34, 1);
    margin-top: 0px;
    height: 100px;
}

#menu-de-navegacao ul {
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
}

#cabecalho ul li {
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    min-width: 150px;
    height: 30px;
}

#logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    margin-left: -100px;
}


/* --- Conteúdo principal da página --- */

.container {
    background-color: #9fdb99;
}

#conteudo-principal {
    padding-left: 2.5%;
    transition: opacity 1s linear;
    padding-bottom: 3em;
    margin-top: 150px;
}

#posts-principais {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.borda {
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.8);
}


/* --- Rodapé --- */

#rodape {
    background-color: rgba(77, 51, 34, 1);
    padding: 1em;
    display: flex;
    margin-top: 60px;
    height: min-content;
}

#rodape .logo-rodape {
    margin-right: 2em;
}

#rodape ul {
    padding: 0;
}

#rodape ul li {
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    min-width: 150px;
}

.icones {
    width: 50px;
    height: 50px;
}

.texto-rodape {
    display: inline;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}