/* --- Conteúdo principal da página --- */

#conteudo-principal {
    padding-left: 2.5%;
    transition: opacity 1s linear;
    padding-bottom: 3em;
}


/* --- Rodapé --- */

#rodape {
    background-color: rgba(0, 0, 0, .7);
    padding: 1em;
    display: flex;
}

#rodape .logo-rodape {
    margin-right: 2em;
}